.tooltip {
    background: var(--page-bg);
    padding: 20px;
    border-radius: 10px;
}

.tooltip__weekday {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: .9rem;
}

.tooltip__info {
    display: grid;
    grid-template-columns: 1fr .5fr;
    font-weight: 600;
    gap: 20px;
    font-size: .9rem;
}

.tooltip__info span {
    font-weight: 500;
    color: var(--text-primary);
}