.main__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--surface-bg);
    margin-top: 16px;
    padding: 20px;
    border-radius: 50px;
}