.main__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.main__header-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary)
}